
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

dataset/
data/
BanglaLekha-Isolated/
*.zip
*.rar
*.7z

mlruns/
artifacts/mlflow/

.ipynb_checkpoints/
.cache/


.DS_Store
Thumbs.db

*.h5
*.pkl

!models/model.keras
!labels.json

mlflow.db
artifacts/mlflow_artifacts/